<body>
<mat-toolbar class="header">
  <span>
    <img class="imgLogo" src="assets/img/rosiSlogan1.png" alt="">
  </span>
  <div class="menu">
    <a class="aheader" href="#home">HOME</a>
    <a class="aheader" href="#sobre">SOBRE MIM</a>
    <a class="aheader" href="#servico">SERVIÇOS</a>
    <a class="aheader" href="#contato">CONTATO</a>
  </div>
</mat-toolbar>

  <div id="home" class="caixa1">
    <h1 class="textoDiv1"><strong>BEM VINDO ESTÉTICA AVANÇADA</strong></h1>
    <a mat-fab extended color="white" onclick="gtag_report_conversion()" href="https://api.whatsapp.com/send?phone=5581991219722" target="_blank" class="btn-get-started scrollto">FALE COMIGO</a>
  </div>

  <div id="sobre" class="caixa2">
   <div class="caixas">
    <div class="card1">
        <img class="imgFoto" src="assets/img/rosiane.jpg" />
      </div>
      <div class="card2">
        <p class="nome">ROSIANE SOUZA <br><br>Sobre Mim!</p><br>
        <p>- Enfermeira estética;<br>
          - 29 anos;<br>
          - Especialista em Sobrepeso e Obesidade e estética avançada;<br>
          - Assumindo o desafio de entrar na área da estética;<br>
          - Mulher estudiosa e dedicada;<br>
          - Sou uma ariana que gosta de superar os desafios;<br>
          - Não suporto a falta de responsabilidade das pessoas;<br>
          - Procuro proporcionar bem estar da aparência das pessoas;<br>
          - Adoro viajar, principalmente praia;<br>
          - Preceptora curso técnico de enfermagem e superior;<br>
          - Atuo a 5 anos na área de gestão;
        </p>
      </div>
    </div>
  </div>

  <div id="servico" class="caixa3">
    <h1 class="tituloServico"><strong>MEUS SERVIÇOS</strong></h1>
    <div class="caixas">
      <div class="card">
        <img class="imgCard" src="assets/img/mesoterapiaCapilar.jpg" />
        <div class="textos">
          <h1>- Terapia Capilar (tratamento de Alopecia)</h1>
          <p>
            “Mesoterapia capilar é o protocolo de tratamento do couro cabeludo que visa restaurar a saúde dos cabelos, ao promover crescimento e o fortalecimento dos fios”.
          </p>
        </div>
      </div>
      <div class="card">
        <img class="imgCard" src="assets/img/lipo.jpg" />
        <div class="textos">
          <h1>- Intradermoterapia: <br>Lipo Enzimática e Lipo de papada</h1>
          <p>
            “A intradermoterapia é um procedimento que consiste na aplicação de enzimas através de injeção de microagulhas na pele ou de forma subcutânea, com o objetivo de auxiliar na eliminação de gordura”.
          </p>
         </div>
        </div>
      <div class="card">
        <img class="imgCard" src="assets/imagem/imagemHome_8.jpeg" />
        <div class="textos">
          <h1>- Rejuvenescimento Facial;</h1>
          <p>
            “A Enfermagem é a ciência do saber cuidar. Envolve -se com os mais
            nobres sentimentos: compaixão, proteção e amor.” - Nino Carneiro.
          </p>
         </div>
        </div>
      <div class="card">
        <img class="mar" src="assets/imagem/imagemHome_8.jpeg" />
        <div class="textos">
          <h1>- Peelling Químico (olheiras, acne e melasma)</h1>
          <p>
            “A Enfermagem é a ciência do saber cuidar. Envolve -se com os mais
            nobres sentimentos: compaixão, proteção e amor.” - Nino Carneiro.
          </p>
         </div>
        </div>
      </div>
    </div>
  <div id="servico" class="caixa3">
    <div class="caixas">
      <div class="card">
        <img class="imgCard" src="assets/imagem/imagemHome_8.jpeg" />
        <div class="textos">
          <h1>- Toxina Botulínica</h1>
          <p>
            “A Enfermagem é a ciência do saber cuidar. Envolve -se com os mais
            nobres sentimentos: compaixão, proteção e amor.” - Nino Carneiro.
          </p>
        </div>
      </div>
      <div class="card">
        <img class="imgCard" src="assets/imagem/imagemHome_8.jpeg" />
        <div class="textos">
          <h1>- Skinbooster;</h1>
          <p>
            “A Enfermagem é a ciência do saber cuidar. Envolve -se com os mais
            nobres sentimentos: compaixão, proteção e amor.” - Nino Carneiro.
          </p>
         </div>
        </div>
      <div class="card">
        <img class="imgCard" src="assets/imagem/imagemHome_8.jpeg" />
        <div class="textos">
          <h1>- PEIM (retirada de microvasos)</h1>
          <p>
            “A Enfermagem é a ciência do saber cuidar. Envolve -se com os mais
            nobres sentimentos: compaixão, proteção e amor.” - Nino Carneiro.
          </p>
         </div>
        </div>
      <div class="card">
        <img class="imgCard" src="assets/imagem/imagemHome_8.jpeg" />
        <div class="textos">
          <h1>- Retirada de sinais</h1>
          <p>
            “A Enfermagem é a ciência do saber cuidar. Envolve -se com os mais
            nobres sentimentos: compaixão, proteção e amor.” - Nino Carneiro.
          </p>
         </div>
        </div>
      </div>
    </div>
  <div id="servico" class="caixa3">
    <div class="caixas">
      <div class="card">
        <img class="imgCard" src="assets/imagem/imagemHome_8.jpeg" />
        <div class="textos">
          <h1>- Gordura localizadas (aplicações de enzimas)</h1>
          <p>
            “A Enfermagem é a ciência do saber cuidar. Envolve -se com os mais
            nobres sentimentos: compaixão, proteção e amor.” - Nino Carneiro.
          </p>
        </div>
      </div>
      <div class="card">
        <img class="imgCard" src="assets/imagem/imagemHome_8.jpeg" />
        <div class="textos">
          <h1>- Limpeza de Pele Profunda</h1>
          <p>
            “A Enfermagem é a ciência do saber cuidar. Envolve -se com os mais
            nobres sentimentos: compaixão, proteção e amor.” - Nino Carneiro.
          </p>
         </div>
        </div>
      </div>
    </div>

  <div id="contato" class="caixa4">
    <h1><strong>BEM VINDO À ROSIANE SOUZA <br> ESTÉTICA AVANÇADA</strong></h1>
    <a mat-fab extended color="white" onclick="gtag_report_conversion()" href="https://api.whatsapp.com/send?phone=5581991219722" target="_blank" class="btn-get-started scrollto">FALE COMIGO</a>
  </div>
</body>

